body {
  font-family: "Montserrat", sans-serif;
  background-color: white;
  font-size: 13px;
}

footer {
  background-color: rgb(248, 246, 246);
  height: 40px;
  font-size: 13px;
  margin: 20px 0;
}

h1 {
  font-size: 20px;
  margin: 0 auto;
}

h1 img {
  width: 20px;
  height: 20px;
}
h2 {
  font-size: 19px;
}

input {
  width: 300px;
  height: 30px;

  margin: 20px auto;
  text-align: center;
}

.line {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  width: 200px;
  height: 380px;
  margin: 0 auto;
}
.eachLine {
  border: none;
  background-color: rgb(245, 230, 230);

  padding: 3px;
  height: 30px;
  margin: 3px;
}

.eachLine:hover {
  background-color: pink;
}

/* FLEXBOX  */
.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.flex-direction-column {
  flex-direction: column;
}
.space-between {
  justify-content: space-between;
}

.row {
  flex-direction: row;
}

.display-none {
  display: none;
}

.margin-auto {
  margin: 0 auto;
}

/* MAIN  */
